Calculator_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://myCompanyWebsite.com/WebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://myCompanyWebsite.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://myCompanyWebsite.com/WebServices">
      <s:element name="AddTwo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddThree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="thirdNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddThreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddThreeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCalcList">
        <s:complexType />
      </s:element>
      <s:element name="GetCalcListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCalcListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTwoSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwo" />
  </wsdl:message>
  <wsdl:message name="AddTwoSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoResponse" />
  </wsdl:message>
  <wsdl:message name="AddThreeSoapIn">
    <wsdl:part name="parameters" element="tns:AddThree" />
  </wsdl:message>
  <wsdl:message name="AddThreeSoapOut">
    <wsdl:part name="parameters" element="tns:AddThreeResponse" />
  </wsdl:message>
  <wsdl:message name="GetCalcListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCalcList" />
  </wsdl:message>
  <wsdl:message name="GetCalcListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCalcListResponse" />
  </wsdl:message>
  <wsdl:portType name="Calculator_WebServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds two integers entered by client</wsdl:documentation>
      <wsdl:input name="AddTwo" message="tns:AddTwoSoapIn" />
      <wsdl:output name="AddTwo" message="tns:AddTwoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Takes in three integers and returns the sum to client</wsdl:documentation>
      <wsdl:input name="AddThree" message="tns:AddThreeSoapIn" />
      <wsdl:output name="AddThree" message="tns:AddThreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCalcList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the history of calculations made by the user</wsdl:documentation>
      <wsdl:input message="tns:GetCalcListSoapIn" />
      <wsdl:output message="tns:GetCalcListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Calculator_WebServiceSoap" type="tns:Calculator_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://myCompanyWebsite.com/WebServices/AddTwo" style="document" />
      <wsdl:input name="AddTwo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddTwo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://myCompanyWebsite.com/WebServices/AddThree" style="document" />
      <wsdl:input name="AddThree">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddThree">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalcList">
      <soap:operation soapAction="http://myCompanyWebsite.com/WebServices/GetCalcList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Calculator_WebServiceSoap12" type="tns:Calculator_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://myCompanyWebsite.com/WebServices/AddTwo" style="document" />
      <wsdl:input name="AddTwo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddTwo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://myCompanyWebsite.com/WebServices/AddThree" style="document" />
      <wsdl:input name="AddThree">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddThree">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalcList">
      <soap12:operation soapAction="http://myCompanyWebsite.com/WebServices/GetCalcList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator_WebService">
    <wsdl:port name="Calculator_WebServiceSoap" binding="tns:Calculator_WebServiceSoap">
      <soap:address location="http://localhost:57915/Calculator_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Calculator_WebServiceSoap12" binding="tns:Calculator_WebServiceSoap12">
      <soap12:address location="http://localhost:57915/Calculator_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>